#container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container div div {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    background-color: white;
}

button {
    align-self: center;
}